<p id="notice"><%= notice %></p>

<h1>Notas</h1>

<table id="myTable" class="table">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Contenido</th>
      <th>Fecha de creacion</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= note.content %></td>
        <td><%= note.created_at %></td>
        <td>
          <%= link_to 'Show', note, class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_note_path(note), class: 'btn btn-danger' %>
          <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path, class:'btn btn-warning' %>
